<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="language" content="zh-CN" />
      <title><%= title %></title>
      <link rel="stylesheet" type="text/css"
              href="/js/ExtJS/resources/css/ext-all.css" />
      <link rel="stylesheet" type="text/css"
            href="/js/ExtJS/layout-browser.css" />

  </head>
  <script type="text/javascript" src="/js/ExtJS/ext-all.js"></script>
  <script type="text/javascript" src="/js/template/viewport.js"></script>
  <script type="text/javascript" src="/js/template/tree.js"></script>
  <script type="text/javascript" src="/js/core/common.js"></script>
  <body>
  <script type="text/javascript">
      var gmAccount = {
          isAdmin : <%= account.isAdmin %>,
          board : <%= account.board %>,
          arpu : <%= account.arpu %>,
          retention : <%= account.retention %>,
          paidRetention : <%= account.paidRetention %>,
          announce : <%= account.announce %>,
          player : <%= account.player %>,
          robot : <%= account.robot %>,
          diamond : <%= account.diamond %>,
          gamingMoney : <%= account.gamingMoney %>,
          insiderGamingMoney : <%= account.insiderGamingMoney %>,
          cdKey : <%= account.cdKey %>,
          cdKeyOrder : <%= account.cdKeyOrder %>,
          coupon : <%= account.coupon %>,
          present : <%= account.present %>,
          systemAction : <%= account.systemAction %>,
          feedback : <%= account.feedback %>,
          presentExchange : <%= account.presentExchange %>,
          recharge : <%= account.recharge %>,
          cards : <%= account.cards %>,
          channel : <%= account.channel %>,
          poker : <%= account.poker %>,
          accountAnnounce : <%= account.accountAnnounce %>,
          beauty : <%= account.beauty %>,
          activity : <%= account.activity %>,
          authorization : <%= account.authorization %>,
          p2pMessage : <%= account.p2pMessage %> ,
          rechargeAmount : <%= account.rechargeAmount %>,
          blessing : <%= account.blessing %>,
          messagepandect : <%= account.messagepandect %>,
          messageplayer: <%=account.messageplayer %>,
          logplayer : <%= account.logplayer %>,
          logpower : <%= account.logpower %>,
          logPVE : <%= account.logPVE %>,
          logPVES : <%= account.logPVES %>,
          logPVA : <%= account.logPVA %>,
          logPVAS : <%= account.logPVAS %>,
          logPVP : <%= account.logPVP%>,
          logPVPS : <%= account.logPVPS%>,
          logPVB : <%= account.logPVB%>,
          logPVBS : <%= account.logPVBS%>,
          logSignS : <%= account.logSignS%>,
          logMailS : <%= account.logMailS%>,
          logMail : <%= account.logMail%>,
          logHero : <%= account.logHero%>,
          logWeapon : <%= account.logWeapon%>,
          logTask : <%= account.logTask%>,
          logEergy : <%= account.logEergy%>,
          logEergyS : <%= account.logEergyS%>,
          logItem : <%= account.logItem%>,
          logItemS : <%= account.logItemS%>,
          logActivity : <%= account.logActivity%>,
          logGift : <%= account.logGift%>,
          logShop : <%= account.logShop%>,
          logShopS : <%= account.logShopS%>,
          logDimondC : <%= account.logDimondC%>,
          logDimondA : <%= account.logDimondA%>,
          logRecharge : <%= account.logRecharge%>,
          logGoldA : <%= account.logGoldA%>,
          logGoldC : <%= account.logGoldC%>,
          manageAnnouncement : <%= account.manageAnnouncement%>,
          manageActivity : <%= account.manageActivity%>,
          manageSign : <%= account.manageSign%>






      };
  </script>

  <% if (title == "数据总览") { %>
   <script type="text/javascript" src="/js/core/board.js"></script>
   <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          boardData('<%= fromTV %>');
      });
  </script>
  <% } else if (title == "日留存率") { %>
  <script type="text/javascript" src="/js/core/retented.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          retention('<%= fromTV %>');
      });
  </script>
  <% } else if (title == "充值日留存率") { %>
  <script type="text/javascript" src="/js/core/paidRetented.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          paidRetention('<%= fromTV %>');
      });
  </script>
  <% } else if (title == "日关键数据") { %>
  <script type="text/javascript" src="/js/core/arpu.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          arpuData('<%= fromTV %>');
      });
  </script>
  <% } else if (title == "添加通告") { %>
  <script type="text/javascript" src="/js/core/announce.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          announce();
      });
  </script>
  <% } else if (title == "玩家管理") { %>
  <script type="text/javascript" src="/js/core/player.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          searchPlayer();
      });
  </script>
  <% } else if (title == "系统设置") { %>
  <script type="text/javascript" src="/js/core/robot.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          robotManager();
      });
  </script>
  <% } else if (title == "钻石充值/消耗") { %>
  <script type="text/javascript" src="/js/core/diamond.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          diamond('<%= fromTV %>');
      });
  </script>
  <% } else if (title == "金币充值/消耗") { %>
  <script type="text/javascript" src="/js/core/money.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          gamingMoney();
      });
  </script>
  <% } else if (title == "特殊玩家日金币充值/消耗") { %>
  <script type="text/javascript" src="/js/core/money.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          insiderGamingMoney();
      });
  </script>
  <% } else if (title == "CDKEY") { %>
  <script type="text/javascript" src="/js/core/cdkey.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          cdKeyManage();
      });
  </script>
  <% } else if (title == "CDKEY充值") { %>
  <script type="text/javascript" src="/js/core/cdkeyOrder.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          cdKeyOrder();
      });
  </script>
  <% } else if (title == "礼券产出/消耗") { %>
  <script type="text/javascript" src="/js/core/coupon.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          coupon();
      });
  </script>
  <% } else if (title == "礼品") { %>
  <script type="text/javascript" src="/js/core/present.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          present();
      });
  </script>
  <% } else if (title == "系统操作") { %>
  <script type="text/javascript" src="/js/core/gmAction.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          gmAction();
      });
  </script>
  <% } else if (title == "意见反馈") { %>
  <script type="text/javascript" src="/js/core/feedback.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          feedback();
      });
  </script>
  <% } else if (title == "礼品兑换") { %>
  <script type="text/javascript" src="/js/core/giftExchange.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          giftExchange();
      });
  </script>
  <% } else if (title == "短信充值操作") { %>
  <script type="text/javascript" src="/js/core/recharge.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          recharge();
      });
  </script>
  <% } else if (title == "查询牌桌信息") { %>
  <script type="text/javascript" src="/js/core/cards.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          showCards();
      });
  </script>
  <% } else if (title == "客服通道") { %>
  <script type="text/javascript" src="/js/core/gmChannel.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          gmChannel();
      });
  </script>
  <% } else if (title == "牌局") { %>
  <script type="text/javascript" src="/js/core/poker.js"></script>
  <script type="text/javascript" src="/js/extexcel/export-all.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          poker();
      });
  </script>
  <% } else if (title == "查看广播") { %>
  <script type="text/javascript" src="/js/core/accountAnnounce.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          accountAnnounce();
      });
  </script>
  <% } else if (title == "美女认证") { %>
  <script type="text/javascript" src="/js/core/beauty.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          beauty();
      });
  </script>
  <% } else if (title == "限时活动") { %>
  <script type="text/javascript" src="/js/core/activity.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          activity();
      });
  </script>
  <% } else if (title == "用户权限管理") { %>
  <script type="text/javascript" src="/js/core/authorization.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          authorization();
      });
  </script>
  <% } else if (title == "私聊查询") { %>
  <script type="text/javascript" src="/js/core/p2pMessage.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          p2pMessage();
      });
  </script>
  <% } else if (title == "充值额度") { %>
  <script type="text/javascript" src="/js/core/rechargeAmount.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          rechargeAmount();
      });
  </script>
  <% } else if (title == "祈福") { %>
  <script type="text/javascript" src="/js/core/blessing.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          blessing();
      });
  </script>

  <% } else if (title == "全服查询玩家信息总览") { %>
  <script type="text/javascript" src="/js/core/messagepandect.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          messagepandectData('<%= fromTV %>');
      });
  </script>
  <% } else if (title == "查询玩家信息") { %>
  <script type="text/javascript" src="/js/core/messageplayer.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          messageplayerData('<%= fromTV %>');
      });
  </script>
  <% } else if (title == "体力消耗日志") { %>
  <script type="text/javascript" src="/js/core/logpower.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logpowerData('<%= fromTV %>');
      });
  </script>
  <% } else if (title == "关卡数据个人日志") { %>
  <script type="text/javascript" src="/js/core/logPVE.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logPVEData();
      });
  </script>
  <% } else if (title == "关卡数据全服统计") { %>
  <script type="text/javascript" src="/js/core/logPVES.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logPVESData();
      });
  </script>
  <% } else if (title == "竞技塔个人爬塔日志") { %>
  <script type="text/javascript" src="/js/core/logPVA.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logPVAData();
      });
  </script>
  <% } else if (title == "竞技塔爬塔日志") { %>
  <script type="text/javascript" src="/js/core/logPVAS.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logPVASData();
      });
  </script>
  <% } else if (title == "周赛场个人日志") { %>
  <script type="text/javascript" src="/js/core/logPVP.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logPVPData();
      });
  </script>
  <% } else if (title == "周赛场日志") { %>
  <script type="text/javascript" src="/js/core/logPVPS.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logPVPSData();
      });
  </script>
  <% } else if (title == "无尽boss个人日志") { %>
  <script type="text/javascript" src="/js/core/logPVB.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logPVBData();
      });
  </script>
  <% } else if (title == "无尽boss全服日志") { %>
  <script type="text/javascript" src="/js/core/logPVBS.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logPVBSData();
      });
  </script>
  <% } else if (title == "账号签到领取日志") { %>
  <script type="text/javascript" src="/js/core/logSignS.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logSignSData();
      });
  </script>
  <% } else if (title == "邮件全服日志") { %>
  <script type="text/javascript" src="/js/core/logMailS.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logMailSData();
      });
  </script>
  <% } else if (title == "收取个人邮件") { %>
  <script type="text/javascript" src="/js/core/logMail.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logMailData();
      });
  </script>
  <% } else if (title == "英雄成长日志") { %>
  <script type="text/javascript" src="/js/core/logHero.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logHeroData();
      });
  </script>
  <% } else if (title == "武器成长日志") { %>
  <script type="text/javascript" src="/js/core/logWeapon.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logWeaponData();
      });
  </script>
  <% } else if (title == "任务交付日志") { %>
  <script type="text/javascript" src="/js/core/logTask.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logTaskData();
      });
  </script>
  <% } else if (title == "能量卡购买个人日志") { %>
  <script type="text/javascript" src="/js/core/logEergy.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logEergyData();
      });
  </script>
  <% } else if (title == "能量卡购买全服日志") { %>
  <script type="text/javascript" src="/js/core/logEergyS.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logEergySData();
      });
</script>
  <% } else if (title == "道具使用日志") { %>
  <script type="text/javascript" src="/js/core/logItem.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logItemData();
      });
  </script>
  <% } else if (title == "道具消耗全服日志") { %>
  <script type="text/javascript" src="/js/core/logItemS.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logItemSData();
      });
  </script>
  <% } else if (title == "活动参与日志") { %>
  <script type="text/javascript" src="/js/core/logActivity.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logActivityData();
      });
  </script>
  <% } else if (title == "礼包领取日志") { %>
  <script type="text/javascript" src="/js/core/logGift.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logGiftData();
      });
  </script>
  <% } else if (title == "商店购买个人日志") { %>
  <script type="text/javascript" src="/js/core/logShop.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logShopData();
      });
  </script>
  <% } else if (title == "商店购买日志总览") { %>
  <script type="text/javascript" src="/js/core/logShopS.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logShopSData();
      });
  </script>
  <% } else if (title == "用户钻石花费记录") { %>
  <script type="text/javascript" src="/js/core/logDimondC.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logDimondCData();
      });
  </script>
  <% } else if (title == "用户钻石获得个人日志") { %>
  <script type="text/javascript" src="/js/core/logDimondA.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logDimondAData();
      });
  </script>
  <% } else if (title == "用户充值个人日志") { %>
  <script type="text/javascript" src="/js/core/logRecharge.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logRechargeData();
      });
  </script>
  <% } else if (title == "用户金币获得个人日志") { %>
  <script type="text/javascript" src="/js/core/logGoldA.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logGoldAData();
      });
  </script>
  <% } else if (title == "用户金币消耗个人日志") { %>
  <script type="text/javascript" src="/js/core/logGoldC.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          logGoldCData();
      });
  </script>
  <% } else if (title == "公告管理") { %>
  <script type="text/javascript" src="/js/core/manageAnnouncement.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          manageAnnouncementData();
      });
  </script>
  <% } else if (title == "活动管理") { %>
  <script type="text/javascript" src="/js/core/manageActivity.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          manageActivityData();
      });
  </script>
  <% } else if (title == "签到管理") { %>
  <script type="text/javascript" src="/js/core/manageSign.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          manageSignData();
      });
  </script>


  <% } %>
  </body>
</html>
