<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="language" content="zh-CN" />
      <title><%= title %></title>
      <link rel="stylesheet" type="text/css"
              href="/js/ExtJS/resources/css/ext-all.css" />
      <link rel="stylesheet" type="text/css"
            href="/js/ExtJS/layout-browser.css" />

  </head>
  <script type="text/javascript" src="/js/ExtJS/ext-all.js"></script>
  <script type="text/javascript" src="/js/template/viewport.js"></script>
  <script type="text/javascript" src="/js/template/tree.js"></script>
  <script type="text/javascript" src="/js/core/common.js"></script>
  <body>
  <script type="text/javascript">
      var gmAccount = {
          isAdmin : <%= account.isAdmin %>,
          board : <%= account.board %>,
          arpu : <%= account.arpu %>,
          retention : <%= account.retention %>,
          paidRetention : <%= account.paidRetention %>,
          announce : <%= account.announce %>,
          player : <%= account.player %>,
          robot : <%= account.robot %>,
          diamond : <%= account.diamond %>,
          gamingMoney : <%= account.gamingMoney %>,
          insiderGamingMoney : <%= account.insiderGamingMoney %>,
          cdKey : <%= account.cdKey %>,
          cdKeyOrder : <%= account.cdKeyOrder %>,
          coupon : <%= account.coupon %>,
          present : <%= account.present %>,
          systemAction : <%= account.systemAction %>,
          feedback : <%= account.feedback %>,
          presentExchange : <%= account.presentExchange %>,
          recharge : <%= account.recharge %>,
          cards : <%= account.cards %>,
          channel : <%= account.channel %>,
          poker : <%= account.poker %>,
          accountAnnounce : <%= account.accountAnnounce %>,
          beauty : <%= account.beauty %>,
          activity : <%= account.activity %>,
          authorization : <%= account.authorization %>,
          p2pMessage : <%= account.p2pMessage %> ,
          rechargeAmount : <%= account.rechargeAmount %>,
          blessing : <%= account.blessing %>
      };
  </script>

  <% if (title == "数据总览") { %>
   <script type="text/javascript" src="/js/core/board.js"></script>
   <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          boardData('<%= fromTV %>');
      });
  </script>
  <% } else if (title == "日留存率") { %>
  <script type="text/javascript" src="/js/core/retented.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          retention('<%= fromTV %>');
      });
  </script>
  <% } else if (title == "充值日留存率") { %>
  <script type="text/javascript" src="/js/core/paidRetented.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          paidRetention('<%= fromTV %>');
      });
  </script>
  <% } else if (title == "日关键数据") { %>
  <script type="text/javascript" src="/js/core/arpu.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          arpuData('<%= fromTV %>');
      });
  </script>
  <% } else if (title == "添加通告") { %>
  <script type="text/javascript" src="/js/core/announce.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          announce();
      });
  </script>
  <% } else if (title == "玩家管理") { %>
  <script type="text/javascript" src="/js/core/player.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          searchPlayer();
      });
  </script>
  <% } else if (title == "系统设置") { %>
  <script type="text/javascript" src="/js/core/robot.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          robotManager();
      });
  </script>
  <% } else if (title == "钻石充值/消耗") { %>
  <script type="text/javascript" src="/js/core/diamond.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          diamond('<%= fromTV %>');
      });
  </script>
  <% } else if (title == "金币充值/消耗") { %>
  <script type="text/javascript" src="/js/core/money.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          gamingMoney();
      });
  </script>
  <% } else if (title == "特殊玩家日金币充值/消耗") { %>
  <script type="text/javascript" src="/js/core/money.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          insiderGamingMoney();
      });
  </script>
  <% } else if (title == "CDKEY") { %>
  <script type="text/javascript" src="/js/core/cdkey.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          cdKeyManage();
      });
  </script>
  <% } else if (title == "CDKEY充值") { %>
  <script type="text/javascript" src="/js/core/cdkeyOrder.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          cdKeyOrder();
      });
  </script>
  <% } else if (title == "礼券产出/消耗") { %>
  <script type="text/javascript" src="/js/core/coupon.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          coupon();
      });
  </script>
  <% } else if (title == "礼品") { %>
  <script type="text/javascript" src="/js/core/present.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          present();
      });
  </script>
  <% } else if (title == "系统操作") { %>
  <script type="text/javascript" src="/js/core/gmAction.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          gmAction();
      });
  </script>
  <% } else if (title == "意见反馈") { %>
  <script type="text/javascript" src="/js/core/feedback.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          feedback();
      });
  </script>
  <% } else if (title == "礼品兑换") { %>
  <script type="text/javascript" src="/js/core/giftExchange.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          giftExchange();
      });
  </script>
  <% } else if (title == "短信充值操作") { %>
  <script type="text/javascript" src="/js/core/recharge.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          recharge();
      });
  </script>
  <% } else if (title == "查询牌桌信息") { %>
  <script type="text/javascript" src="/js/core/cards.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          showCards();
      });
  </script>
  <% } else if (title == "客服通道") { %>
  <script type="text/javascript" src="/js/core/gmChannel.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          gmChannel();
      });
  </script>
  <% } else if (title == "牌局") { %>
  <script type="text/javascript" src="/js/core/poker.js"></script>
  <script type="text/javascript" src="/js/extexcel/export-all.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          poker();
      });
  </script>
  <% } else if (title == "查看广播") { %>
  <script type="text/javascript" src="/js/core/accountAnnounce.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          accountAnnounce();
      });
  </script>
  <% } else if (title == "美女认证") { %>
  <script type="text/javascript" src="/js/core/beauty.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          beauty();
      });
  </script>
  <% } else if (title == "限时活动") { %>
  <script type="text/javascript" src="/js/core/activity.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          activity();
      });
  </script>
  <% } else if (title == "用户权限管理") { %>
  <script type="text/javascript" src="/js/core/authorization.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          authorization();
      });
  </script>
  <% } else if (title == "私聊查询") { %>
  <script type="text/javascript" src="/js/core/p2pMessage.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          p2pMessage();
      });
  </script>
  <% } else if (title == "充值额度") { %>
  <script type="text/javascript" src="/js/core/rechargeAmount.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          rechargeAmount();
      });
  </script>
  <% } else if (title == "祈福") { %>
  <script type="text/javascript" src="/js/core/blessing.js"></script>
  <script>
      Ext.onReady(function() {
          viewport();
          treeNavigation(gmAccount);
          blessing();
      });
  </script>
  <% } %>
  </body>
</html>
